<div class="az-contact-directory-top left">
	<div class="az-alert-container"></div>
	<div class="az-contact-directory-input-container">
		<div><input type="text" class="az-contact-directory-search-input" placeholder="<%- i18n.contact_directory_quick_search_label %>" autocomplete="off"/></div>
		<button><i class="fa fa-search"></i></button>
	</div>
	<div class="az-contact-directory-search">
		<div class="az-contact-directory-search-toolbar">
			<button class="btn btn-icon add-contact" title="<%- i18n.add_contact_button %>">
				<i class="fa fa-child"></i>
			</button>
			<button class="btn btn-icon delete-contact" title="<%- i18n.delete_contact_button %>">
				<i class="fa fa-trash"></i>
			</button>
			<button class="btn btn-icon refresh-contact" title="<%- i18n.refresh_contact_button %>">
				<i class="fa fa-refresh"></i>
			</button>

		</div>
		<div class="loader">
			<div class="az-loading-gif"><img src="/img/ajax-loader.gif" /></div>
		</div>
		
		<div class="az-contact-directory-result-grid">
			
		</div>
	</div>
</div>
<div class="az-contact-directory-bottom right">
	
</div>

<div class="loader"><img src="/img/ajax-loader.gif"></div>