<img src="/img/top-facture.png" />

<div class="contact-container">
	

</div>


<table class="top-table">
	<tr>
		<td style="color:#007FB9;">Irigny, le :</td>
		<td class="date-facture"></td>
	</tr>
	<tr>
		<td>Facture n° :</td>
		<td class="facture-number"></td>
	</tr>
	<tr>
		<td>Saison :</td>
		<td class="annee"></td>
	</tr>
</table>
<hr class="separator">
<table class="objet-table">
	<tr>
		<td>Objet de la facture </td>
		<td class="objet"></td>
	</tr>
	<tr>
		<td>Détails </td>
		<td></td>
	</tr>
	<tr>
		<td colspan="2" class="details"></td>
	</tr>
</table>

<div class="bottom">
	<table class="montant-table">
		<tr>
			<td>Total général :</td>
			<td class="montantT"></td>
		</tr>
		<tr>
			<td>Réglé :</td>
			<td class="montantR"></td>
		</tr>
	</table>
	<table class="total-table">
		<tr>
			<td>Reste à payer</td>
			<td class="reste"></td>
		</tr>
	</table>
	<span>
		En votre aimable réception, à l'ordre de la Maison de la Tour, à reception de la facture.
	</span>

</div>