<div class="desktop">
	<div class="navbar navbar-default">
		<p class="navbar-text navbar-left menu-link" title="<%- i18n.deconnection_button %>"><i class="fa fa-bars"></i></p>
		<p class="navbar-text navbar-left current-link" title=""></p>

		<p class="navbar-text navbar-right exit-link" title="<%- i18n.deconnection_button %>"><i class="fa fa-power-off"></i></p>
		<p class="navbar-text navbar-right download-link" title="<%- i18n.download_new_version_button %>"><i class="fa fa-download"></i></p>
		<p class="navbar-text navbar-right notif-link" title="<%- i18n.notification_button %>"><i class="fa fa-flag"></i></p>
		<p class="navbar-text navbar-right user-info"></p>
		<p class="navbar-text navbar-right"></p>
	</div>
	<div class="quick-link">
		<ul>
		</ul>
	</div>
	<div class="desktop-container">

	</div>
</div>