<div class="az-facture-empty-facture"><%- i18n.facture_information_empty_facture_info %></div>
<div class="az-facture-information-part">
	<table>
		<tr class="adresse_part">
			<td><%- i18n.facture_adresse_a_label %></td>
			<td class="value"></td>
		</tr>
		<tr class="date_part">
			<td><%- i18n.facture_date_label %></td>
			<td class="value"></td>
		</tr>
		<tr class="objet_part">
			<td><%- i18n.facture_objet_label %></td>
			<td class="value"></td>
		</tr>
		<tr class="montant_part">
			<td><%- i18n.facture_montant_label %></td>
			<td class="value"></td>
		</tr>
	</table>

	<div class="motif_part">
	</div>

</div>

<div class="loader"><img src="/img/ajax-loader.gif"></div>