<div class="middle-area">
	<div class="az-contact-facture-toolbar">
		<div class="right-buttons">
			<button type="button" class="btn btn-print" title="<%- i18n.facture_imprimer_label %>"><i class="fa fa-print"></i></button>
			<button type="button" class="btn" title="<%- i18n.facture_supprimer_label %>"><i class="fa fa-trash"></i></button>
		</div>
	</div>
	<div class="contact-facture-list-area">

	</div>
</div>
<div class="bottom-area az-tab">
	<ul class="nav-tabs az-tab-header" id="<%- id %>Tabs">

	</ul>

	<div class="tab-content az-tab-content" id="<%- id %>Panels">
		
	</div>
</div>

<div class="loader">
	<div class="az-loading-gif"><img src="/img/ajax-loader.gif"></div>
</div>