<div class="az-facture-reglement-empty-facture"><%- i18n.facture_information_empty_facture_info %></div>
<div class="az-facture-reglement-information-part">
	<table class="table table-striped">
		<thead>
			<th><%- i18n.reglement_numero_label %></th>
			<th><%- i18n.reglement_date_label %></th>
			<th><%- i18n.reglement_montant_label %></th>
			<th><%- i18n.reglement_type_label %></th>
			<th></th>
		</thead>
		<tbody>
		</tbody>
	</table>

	<div class="btn-part">
		<button type="button" class="btn btn-warning btn-add" title="<%- i18n.reglement_ajouter_label %>"><i class="fa fa-plus-circle"></i></button>
		<button type="button" class="btn btn-warning btn-delete" title="<%- i18n.reglement_supprimer_label %>"><i class="fa fa-trash"></i></button>
	</div>
</div>

<div class="loader"><img src="/img/ajax-loader.gif"></div>