<div class="az-clsh-inscription-toolbar">
	<button class="btn btn-icon btn-print" title="">
		<i class="fa fa-print"></i>
	</button>
</div>

<div class="alert-container">
</div>

<div class="inscription-form">
	<i class="fa fa-calendar" style='margin: 10px;'></i> <select class="journee_cl"></select>

	<div class="inscrits-list">
		<table class="table table-striped">
			<thead>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
	<div class="total">
		<h4>Total inscrits</h4>
		<table class="table table-striped">
			<thead>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>