<div class="az-clsh-directory-top left">
	<div class="az-alert-container"></div>
	<div class="az-clsh-directory-input-container">
		<div><input type="text" class="az-clsh-directory-search-input" placeholder="<%- i18n.clsh_directory_quick_search_label %>" autocomplete="off"/></div>
		<button><i class="fa fa-search"></i></button>
	</div>
	<div class="az-clsh-directory-search">
		<div class="az-clsh-directory-search-toolbar">
			<button class="btn btn-icon add-clsh" title="<%- i18n.add_clsh_button %>">
				<i class="fa fa-child"></i>
			</button>
			<button class="btn btn-icon delete-clsh" title="<%- i18n.delete_clsh_button %>">
				<i class="fa fa-trash"></i>
			</button>
			<button class="btn btn-icon refresh-clsh" title="<%- i18n.refresh_clsh_button %>">
				<i class="fa fa-refresh"></i>
			</button>

		</div>
		<div class="loader">
			<div class="az-loading-gif"><img src="/img/ajax-loader.gif" /></div>
		</div>
		
		<div class="az-clsh-directory-result-grid">
			
		</div>
	</div>
</div>
<div class="az-clsh-directory-bottom right">
	
</div>

<div class="loader"><img src="/img/ajax-loader.gif"></div>